@font-face {
  font-family: "iconfont"; /* Project id 4420012 */
  src: url('iconfont.woff2?t=1705927995757') format('woff2'),
       url('iconfont.woff?t=1705927995757') format('woff'),
       url('iconfont.ttf?t=1705927995757') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianhua:before {
  content: "\e605";
}

.icon-xiaoxi:before {
  content: "\e67e";
}

.icon-shezhi:before {
  content: "\e851";
}

.icon--qunliao:before {
  content: "\e600";
}

